# Global Pollution Data Analysis
I will be doing an analysis on pollution data from a dataset found on kaggle. Said dataset can be found here: https://www.kaggle.com/datasets/sazidthe1/global-air-pollution-data

## Pollution Data Information
I am importing pandas and reading in the csv file for the pollution data

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('E:\RhaMo\CSV Files\global_air_pollution_data.csv')

In [10]:
df.head(10)

,country_name,city_name,aqi_value,aqi_category,co_aqi_value\t,co_aqi_category,ozone_aqi_value,ozone_aqi_category,no2_aqi_value,no2_aqi_category,pm2.5_aqi_value,pm2.5_aqi_category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good
5,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate
6,Germany,Puttlingen,62,Moderate,1,Good,35,Good,3,Good,62,Moderate
7,Belgium,Puurs,64,Moderate,1,Good,29,Good,7,Good,64,Moderate
8,Russian Federation,Pyatigorsk,54,Moderate,1,Good,41,Good,1,Good,54,Moderate
9,Egypt,Qalyub,142,Unhealthy for Sensitive Groups,3,Good,89,Moderate,9,Good,142,Unhealthy for Sensitive Groups

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23463 entries, 0 to 23462
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_name        23036 non-null  object
 1   city_name           23462 non-null  object
 2   aqi_value           23463 non-null  int64
 3   aqi_category        23463 non-null  object
 4   co_aqi_value	       23463 non-null  int64
 5   co_aqi_category     23463 non-null  object
 6   ozone_aqi_value     23463 non-null  int64
 7   ozone_aqi_category  23463 non-null  object
 8   no2_aqi_value       23463 non-null  int64
 9   no2_aqi_category    23463 non-null  object
 10  pm2.5_aqi_value     23463 non-null  int64
 11  pm2.5_aqi_category  23463 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.1+ MB

In [30]:
poll_list = list(set(df['country_name']))

In [41]:
poll_list

[nan,
 'Algeria',
 'Estonia',
 'Lebanon',
 'Afghanistan',
 'Cuba',
 'Nicaragua',
 'Mali',
 'Malta',
 'Bhutan',
 'Canada',
 'Guatemala',
 'Cyprus',
 'Mauritius',
 'Botswana',
 'Cambodia',
 'Ireland',
 'Switzerland',
 'Poland',
 'Armenia',
 'Slovakia',
 'Burundi',
 'United States of America',
 'Papua New Guinea',
 'Barbados',
 'Bulgaria',
 'Cameroon',
 'Serbia',
 'Senegal',
 'Kuwait',
 'Panama',
 'Jordan',
 'Japan',
 'Romania',
 'Uzbekistan',
 'Solomon Islands',
 'Equatorial Guinea',
 'Israel',
 'Costa Rica',
 'Iraq',
 'Republic of North Macedonia',
 'India',
 'Thailand',
 'Malawi',
 'Argentina',
 'Venezuela (Bolivarian Republic of)',
 'Uruguay',
 'Guinea',
 'Italy',
 'Sudan',
 'Viet Nam',
 'Bahrain',
 'Pakistan',
 'Central African Republic',
 'Paraguay',
 'Bolivia (Plurinational State of)',
 'Spain',
 'Angola',
 'Chile',
 'Finland',
 'Gambia',
 'El Salvador',
 'Portugal',
 'State of Palestine',
 'United Kingdom of Great Britain and Northern Ireland',
 'Kenya',
 'United Republic of Tanzania',
 'Ghana',
 'Ukraine',
 'Eritrea',
 'Luxembourg',
 'Liberia',
 'Trinidad and Tobago',
 'Montenegro',
 'Mongolia',
 'Zimbabwe',
 'Saint Kitts and Nevis',
 'Germany',
 "Lao People's Democratic Republic",
 'South Sudan',
 'South Africa',
 'Bosnia and Herzegovina',
 'Congo',
 'Colombia',
 'Palau',
 'Honduras',
 'Mexico',
 'Somalia',
 'Latvia',
 'Morocco',
 'Democratic Republic of the Congo',
 'Qatar',
 'Tunisia',
 'Mozambique',
 'Saudi Arabia',
 'Ethiopia',
 'Zambia',
 'Iceland',
 'Oman',
 'Cabo Verde',
 'Namibia',
 'Lesotho',
 'Philippines',
 'Kyrgyzstan',
 'Singapore',
 'New Zealand',
 'Sierra Leone',
 'Kazakhstan',
 'Croatia',
 'Madagascar',
 'Netherlands',
 'Brazil',
 'Togo',
 'Albania',
 'Rwanda',
 'Denmark',
 'Republic of Korea',
 'Benin',
 'Georgia',
 'Nepal',
 'Austria',
 'France',
 'Malaysia',
 'Belarus',
 'Monaco',
 'Maldives',
 'Uganda',
 'Mauritania',
 'Greece',
 'Dominican Republic',
 'Sweden',
 'Republic of Moldova',
 'Turkmenistan',
 'Jamaica',
 'Syrian Arab Republic',
 'Hungary',
 'Lithuania',
 "Côte d'Ivoire",
 'Seychelles',
 'Russian Federation',
 'Ecuador',
 'Guinea-Bissau',
 'United Arab Emirates',
 'Chad',
 'Haiti',
 'Guyana',
 'Kingdom of Eswatini',
 'Tajikistan',
 'Suriname',
 'Belgium',
 'Iran (Islamic Republic of)',
 'Sri Lanka',
 'Turkey',
 'Azerbaijan',
 'Saint Lucia',
 'Norway',
 'Gabon',
 'Bangladesh',
 'Slovenia',
 'Niger',
 'Myanmar',
 'Burkina Faso',
 'Peru',
 'Andorra',
 'Czechia',
 'China',
 'Nigeria',
 'Egypt',
 'Libya',
 'Vanuatu',
 'Yemen',
 'Comoros',
 'Belize',
 'Aruba',
 'Indonesia',
 'Australia']

In [49]:
sortdf = df.sort_values('country_name')

In [50]:
sortdf

,country_name,city_name,aqi_value,aqi_category,co_aqi_value\t,co_aqi_category,ozone_aqi_value,ozone_aqi_category,no2_aqi_value,no2_aqi_category,pm2.5_aqi_value,pm2.5_aqi_category
20167,Afghanistan,Zaranj,133,Unhealthy for Sensitive Groups,1,Good,46,Good,0,Good,133,Unhealthy for Sensitive Groups
8319,Afghanistan,Ciras,90,Moderate,0,Good,26,Good,0,Good,90,Moderate
19432,Afghanistan,Qarqin,65,Moderate,1,Good,49,Good,0,Good,65,Moderate
6037,Afghanistan,Andarab,104,Unhealthy for Sensitive Groups,0,Good,34,Good,0,Good,104,Unhealthy for Sensitive Groups
17760,Afghanistan,Kabul,64,Moderate,0,Good,41,Good,0,Good,64,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...
22979,NaN,Kyaikkami,54,Moderate,0,Good,20,Good,0,Good,54,Moderate
23115,NaN,Bima,25,Good,1,Good,25,Good,0,Good,24,Good
23311,NaN,Marapanim,25,Good,1,Good,15,Good,0,Good,25,Good
23345,NaN,Calbuco,36,Good,1,Good,15,Good,3,Good,36,Good
23420,NaN,Sungairaya,49,Good,1,Good,12,Good,0,Good,49,Good

In [52]:
sortdf.nunique()

country_name            175
city_name             23462
aqi_value               347
aqi_category              6
co_aqi_value\t           34
co_aqi_category           3
ozone_aqi_value         213
ozone_aqi_category        5
no2_aqi_value            59
no2_aqi_category          2
pm2.5_aqi_value         383
pm2.5_aqi_category        6
dtype: int64

In [54]:
df['country_name'].nunique()

175